.logoDark-svg {
  width: 9.5625rem;
  height: 1.625rem;
}
.logoLigth-svg {
  width: 9.5625rem;
  height: 1.625rem;
}

.kanbanMenu__boardcontainer {
  display: flex;
  flex-direction: column;
  gap: 1.1875rem;
  padding-bottom: 1rem;
}

.kanbanMenu__allboards {
  color: var(--subtitle-color);
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 2.4px;
  padding-left: 1.5rem;
}

.kanbanMenu__board-list {
  height: 194px;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.board-list__item-link {
  width: 240px;
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0.875rem 0;
  padding-left: 1.5rem;

  border-top-right-radius: 1.375rem;
  border-bottom-right-radius: 1.375rem;

  transition: background-color 0.2s ease-out;
  color: var(--subtitle-color);
}
.board-list__item-link--currentBoard {
  background-color: var(--input-check-h);
  color: hsl(0, 0%, 100%);
}

/* EFFECT ACTIVE */
.board-list__item-link:hover {
  background-color: var(--btn-sec);
  color: var(--btn-prim);
}

.board-list__item-name {
  font-size: 0.9375em;
  font-weight: 700;
}

/* MEDIA */
@media screen and (min-width: 768px) {
  .kanbanMenu__logoDekstopContainer {
    height: 5rem;

    display: flex;
    align-items: center;
    padding-left: 1.5rem;
  }
  .kanbanMenu__boardcontainer {
    gap: 0;
    padding-bottom: 0;
  }
  .kanbanMenu__allboards {
    padding-bottom: 1.1875rem;
  }

  .kanbanMenu__board-list {
    max-height: 100%;
    overflow-y: hidden;
  }
  .board-list__item-link {
    gap: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .kanbanMenu__logoDekstopContainer {
    height: 6rem;

    display: flex;
    align-items: center;
    padding-left: 1.5rem;
  }
}
