.iconCross-svg {
  width: 0.9375rem;
  height: 0.9375rem;
  color: var(--subtitle-color);
}

.editBoard-containerColumns__containerName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.editBoard__input-nameColumn {
  width: 100%;

  font-size: 0.8125em;
  font-weight: 500;
  line-height: 1.4375rem;
  color: var(--txt-color);

  padding: 8px 0;
  padding-left: 1rem;

  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
}
.editBoard__input-nameColumn::placeholder {
  color: var(--subtitle-color);
}
.editBoard__input-nameColumn:focus-visible {
  border-color: var(--input-check-h);
}

/* ERROR */
.editBoard-containerName__input--error {
  border-color: var(--btn-des);
  outline: none;
}

.editBoard-containerName__input--error:focus-visible {
  outline: 1px var(--btn-des-h);
  border-color: var(--btn-des-h);
}
