/* 348px */

.editTaskModal__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
}
.editTaskModal__form-subContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.editTaskModal__labels {
  color: var(--txt-color-input);
  font-size: 0.75em;
  font-weight: 700;
}

.editTaskModal__inputs {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);

  color: var(--txt-color);
  font-size: 0.8125em;
  font-weight: 500;
  line-height: 1.4375rem;

  outline: none;
}

.editTaskModal__inputs:focus-visible {
  border-color: var(--btn-prim);
}

.editTaskModal__title-input--error {
  border-color: var(--btn-des);
}
.editTaskModal__title-input--error:focus-visible {
  border-color: var(--btn-des-h);
}

.editTaskModal__description {
  height: 7rem;

  resize: none;
  outline: none;
}

.editTaskModal__form-generalSubtask {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.editTaskModal__form-containerSubtask {
  max-height: 94px;
  overflow-y: auto;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.editTaskModal__inputs--subtaskInput {
  width: 100%;
}
.inputs-subtaskInput--error {
  border-color: var(--btn-des);
}
.inputs-subtaskInput--error:focus-visible {
  border-color: var(--btn-des-h);
}

.editTaskModal__form-btn-deleteSubtask {
  min-width: max-content;
}
.iconCross-svg {
  cursor: pointer;
  transition: color 0.25s ease-out;
}
.iconCross-svg:hover {
  color: var(--btn-des);
}

.editTaskModal__form-btn {
  font-size: 0.8125em;

  font-weight: 700;
  line-height: 1.4375rem;
  border-radius: 1.25rem;
  padding: 8px 0;
  transition: background-color 0.25s ease-out;
}
.editTaskModal__form-btn--newSubtask {
  color: var(--btn-prim);
  background-color: var(--btn-sec);
}
.editTaskModal__form-btn--newSubtask:hover {
  background-color: var(--btn-sec-h);
}

.editTaskModal__form-btn--createTask {
  color: #fff;
  background-color: var(--btn-prim);
}
.editTaskModal__form-btn--createTask:hover {
  background-color: var(--btn-prim-h);
}

.editTaskModal__status-options {
  background-color: var(--secundary-color);
}
