#dark-theme {
  --txt-color: hsl(0, 0%, 100%);
  --primary-color: hsl(235, 12%, 19%);
  --secundary-color: hsl(235, 16%, 15%);
  --txt-color-input: hsl(0, 0%, 100%);

  --btn-sec: hsl(0, 0%, 100%);
  --btn-sec-h: hsl(0, 0%, 100%);

  --border-color: hsl(236, 11%, 27%);
  --txt-color-input: hsl(0, 0%, 100%);
  --singleTask-boxShadow: hsla(220, 40%, 35%, 0.102);
}

#ligth-theme {
  --txt-color: hsl(237, 100%, 4%);
  --primary-color: hsl(0, 0%, 100%);
  --secundary-color: hsl(220, 69%, 97%);
  --txt-color-input: hsl(216, 15%, 57%);

  --btn-sec: hsla(242, 48%, 58%, 0.1);
  --btn-sec-h: hsla(242, 48%, 58%, 0.25);

  --border-color: hsl(221, 69%, 94%);
  --singleTask-boxShadow: rgba(54, 78, 126, 0.1);
}

.main--opacity {
  opacity: 0.5;
  background-color: #000;
}

button,
select,
a {
  cursor: pointer;
}

label {
  cursor: pointer;
}

input {
  outline: none;
}

body {
  max-height: 100vh;
  max-height: 100dvh;
}

/* SCROLL TEST */
::-webkit-scrollbar {
  width: 6px;
  height: 7px;
  background-color: var(--secundary-color);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(216, 15%, 57%, 0.384);
  border-radius: 10px;
}

@keyframes showModal {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
