@charset "UTF-8";

@font-face {
  font-family: Plus-Jakarta-Sans;
  src: url(/fonts/PlusJakartaSans-variable.woff2);
  font-style: normal;
  font-display: swap;
}

/* Aquí definimos las Custom properties */
:root {
  /* TYPOGRAPHY */
  --typography-p: Plus-Jakarta-Sans, Verdana;

  /* GENERAL */
  --subtitle-color: hsl(216, 15%, 57%);

  --btn-prim: hsl(242, 48%, 58%);
  --btn-prim-h: hsl(243, 100%, 82%);

  --btn-des: hsl(0, 78%, 63%);
  --btn-des-h: hsl(0, 100%, 80%);

  --input-check-h: hsl(242, 48%, 58%);

  /* DARK MODE  ---> DEFAULT */
  --txt-color: hsl(0, 0%, 100%);
  --primary-color: hsl(235, 12%, 19%);
  --secundary-color: hsl(235, 16%, 15%);

  --btn-sec: hsl(0, 0%, 100%);
  --btn-sec-h: hsl(0, 0%, 100%);

  --border-color: hsl(236, 11%, 27%);

  /* LIGTH MODE */
  /* --txt-color: hsl(237, 100%, 4%);
  --primary-color: hsl(0, 0%, 100%);
  --secundary-color: hsl(220, 69%, 97%);

  --btn-sec: hsla(242, 48%, 58%, 0.1);
  --btn-sec-h: hsla(242, 48%, 58%, 0.25);

  --border-color: hsl(221, 69%, 94%); */
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --txt-color: hsl(0, 0%, 100%);
    --primary-color: hsl(235, 12%, 19%);
    --secundary-color: hsl(235, 16%, 15%);

    --btn-sec: hsl(0, 0%, 100%);
    --btn-sec-h: hsl(0, 0%, 100%);

    --border-color: hsl(236, 11%, 27%);
  }
}

/* Las adaptamos al modo claro */
@media (prefers-color-scheme: ligth) {
  :root {
    --txt-color: hsl(237, 100%, 4%);
    --primary-color: hsl(0, 0%, 100%);
    --secundary-color: hsl(220, 69%, 97%);

    --btn-sec: hsla(242, 48%, 58%, 0.1);
    --btn-sec-h: hsla(242, 48%, 58%, 0.25);

    --border-color: hsl(221, 69%, 94%);
  }
}

/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--typography-p);
}
